/* Hide unused sections, where removal through the hooks creates too much overhead */
/* hide StartupSection */
p.ilStartupSection, .ilHeadAction, .breadcrumbs,
.osdNotificationContainer, .ilInfoScreenSec .il_InfoScreenPropertyValue a[href="#"] {
	display: none;
}

/* Using a fixed MainHeader with an user image and some options in kioskmode a kioskOption header */
.header-inner .glyphicon {
	filter: initial;
}

.il-maincontrols-metabar > li > .btn-bulky:not(.engaged) .glyphicon,
.il-maincontrols-metabar > li > .link-bulky:not(.engaged) .glyphicon {
	color: #fff;
}

.header-inner .il-logo, .header-inner .il-pagetitle {
	width: 100%;
}

.header-inner .il-pagetitle {
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	padding: 0 0.5em;
}

.il-metabar-slates {
	color: initial;
}

#kioskExamID,
#kioskParticipant {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#kioskParticipant {
	text-align: right;
}

#kioskClock {
	padding: 0 2em;
}

/* Adaptations Needed to Reduce Header Size */
.il-layout-page {
  grid-template-rows: auto 40px 1fr;
}

.il-logo {
	align-items: initial;
}

.il-logo,
.il-logo .img-standard {
  width: 40px;
}

.il-layout-page-content {
  padding-bottom: 40px;
}

.il-maincontrols-metabar > li > .il-link.link-bulky {
  line-height: 40px;
}

.il-metabar-slates,
.il-toast-container {
  top: 40px;
}

.header-inner,
.il-maincontrols-metabar > li > .btn-bulky,
.il-maincontrols-metabar > li > .link-bulky {
  height: 40px;
}

.il-maincontrols-metabar > li > .btn-bulky,
.il-maincontrols-metabar > li > .link-bulky {
  min-width: 40px;
}

/* Forbidden Message */
div.sebForbiddenContent {
	margin-top : 10%;
	text-align : center;
}

div.sebForbiddenLogo {
	display: block;
	background-image : url(../images/seb_logo_big.png);
	background-repeat: no-repeat;
	background-position: center;
	padding : 64px;
}

div.sebForbiddenHeader, div.sebForbiddenMessage,div.sebForbiddenLogin {
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

div.sebForbiddenHeader {
	font-size: 120%;
}

div.sebForbiddenMessage {
	font-size: 100%;
	margin-top: 20pt;
}

div.sebForbiddenLogin {
	font-size: 100%;
	margin-top: 20pt;
}